<ion-tabs class="tabbtn tabs-icon-top tabs-color-light">
    <ion-tab class="tabbtn" title="Mainmenu" icon="ion-wineglass" href="#/tab/mainmenu">
        <ion-nav-view name="mainmenu-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab class="tabbtn" title="Cart" icon="ion-ios-cart" href="#/tab/cart">
        <ion-nav-view name="cart-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab class="tabbtn" title="Profile" icon="ion-person" href="#/tab/profile">
        <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>